@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292A2D;
    text-align: center;
    overflow: hidden;
}

a {
    font-size: 50px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    text-align: left;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}
