@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #292A2D;
}

body h1 {
    font-size: 20px;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}
